# Archivos de Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
venv/
env/
ENV/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de configuración de Django
*.log
*.sqlite3
db.sqlite3

# Dependencias
node_modules/